
.cart-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 120px;
  max-width: 100%;
}

h2 {
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h3 {
  margin: 0;
  font-size: 16px;
}

.cart-item-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #474545;
}

.cart-total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.plus-button,
.minus-button,
.checkout-button {
  font-size: 1.2rem;
  padding: 1px 6px;
  margin: 0 2px;
  border: none;
  border-radius: 2px;
  background-color: rgb(44, 40, 40);
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.checkout-button {
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 14px;
}

.checkbox-input {
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width: 16px;
}
